<!DOCTYPE html>
<html>
<head>
  <title>Internet Apps Client</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app" style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h3>Where are you visiting? Type in a city below</h3>
        <div>
            <input v-model="city"/>
            <button v-on:click="handleSearch()">Search</button>
        </div>
        <div v-show="areResultsVisible()">
            <p>{{ rain ? "It'll be raining in the next 5 days - bring an umbrella!" : "No rain forecasted in the next 5 days - no need for an umbrella :)"}}</p>
            <p>Pack for {{ temp }} weather!</p>
            <p>{{ air ? "Wear a mask - the air pollution levels don't look great" : "No need for a mask - air pollution levels look good"}}</p>
            <h4>Weather Overview - Next 5 Days</h4>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Wind Speed</th>
                    <th>Rainfall Level</th>
                </tr>
                <tr v-for="period in weather">
                    <td>{{ formatDate(period["dt"]) }}</td>
                    <td>{{ (period["temp"]["day"] - 273.15).toFixed(2) }} °C</td>
                    <td>{{ (period["wind_speed"]).toFixed(2) }} m/sec</td>
                    <td>{{ ((period["rain"]) ? (period["rain"]) : 0).toFixed(2) }} mm</td>
                </tr>
            </table>
       </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                resultsShow: false,
                city: "",
                rain: null,
                temp: null,
                air: null,
                weather: null,
            },
            methods: {
                formatDate: function(dt) {
                    let d = new Date(dt*1000)
                    let year = d.getFullYear();
                    let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                    let month = months[d.getMonth()];
                    let date = d.getDate();
                    return `${date}/${month}/${year}`
                },
                areResultsVisible: function() {
                    return this.resultsShow
                },
                handleSearch: async function() {
                    if (this.city == "") {
                        alert("Please input a city!")
                    } else {
                        let base = "http://localhost:8080/forecast?city="
                        try {
                            let res = await fetch(base + this.city)
                            if (res.status == 200) {
                                let json = await res.json()
                                this.rain = json["rain"]
                                this.temp = json["temp"]
                                this.air = json["mask"]
                                this.weather = json["weather"].slice(0, 6)
                                this.resultsShow = true
                            } else {
                                alert("Uh oh - can't find that city!")
                            }
                        } catch (e) {
                            console.log(e)
                        }
                    }
                },
            }
        })
    </script>
</body>
</html>
