<!DOCTYPE html>
<html>
    <head>
    <title>Internet Apps Client</title>
    <style>
            input, button, h5 {
                margin: 6px
            }
    </style>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h3>Internet Applications Assignment 2 Client</h3>
            <button v-on:click="create()">Create</button>
            <button v-on:click="destroy()">Destroy</button>
            <h3 v-show="showCreating">Creating db table...</h3>
            <h3 v-show="showDeleting">Deleting db table...</h3>
            <h5>Movie Name</h5>
            <input v-model="name"/>
            <h5>Movie Year</h5>
            <input v-model="year"/>
            <h5>Movie Rating</h5>
            <input v-model="rating"/>
            <br />
            <button v-on:click="query()">Query</button>
            <div v-show="showResults">
                <h3>Results</h3>
                <table>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th>Rating</th>
                    </tr>
                    <tr v-for="movie in matchingMovies">
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.rating }}</td>
                    </tr>
                </table>
            </div>
            <h3 v-show="showNoMatches">No Matching Movies</h3>
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    name: "Rush",
                    year: "2013",
                    rating: "8.3",
                    showCreating: false,
                    showDeleting: false,
                    showResults: false,
                    showNoMatches: false,
                    matchingMovies: [],
                },
                methods: {
                    create: async function() {
                        this.showCreating = true
                        let url = "http://localhost:8080/create"
                        let res = await fetch(url, { method:"POST" })
                        if (res.status == 200) alert("Successfully created db table")
                        else {
                            let err = await res.json()
                            console.log(err)
                            let message = err.error.message
                            alert(`Failed to create db table, error: ${message}`)
                        }
                        this.showCreating = false
                    },
                    query: async function() {
                        if (this.name == "" || this.year == "" || this.rating == "") {
                            alert("please provide valid inputs")
                        } else {
                            let url = `http://localhost:8080/query?name=${this.name}&year=${this.year}&rating=${this.rating}`
                            let res = await fetch(url, { method:"GET" })
                            let json = await res.json()
                            this.matchingMovies = json.result
                            if (this.matchingMovies.length == 0) {
                                this.showResults = false
                                this.showNoMatches = true
                            } else {
                                this.showNoMatches = false
                                this.showResults = true
                            }
                        }
                    },
                    destroy: async function() {
                        this.showDeleting = true
                        let url = "http://localhost:8080/destroy"
                        let res = await fetch(url, { method:"DELETE" })
                        if (res.status == 200) alert("Successfully deleted db table")
                        else {
                            let err = await res.json()
                            let message = err.error.message
                            alert(`Failed to delete db table, error: ${message}`)
                        }
                        this.showDeleting = false
                    },
                }
            })
        </script>
    </body>
</html>
